body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
}

img {
    width: 100%;
}

#content
{
    width: 80%;
    margin:auto;
    
}

#topper
{
    margin: 0px;
    padding: 0px;
}