
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    text-align: center;
}

h4{
font-family: 'courier new', courier, monospace;
    font-weight: 500px; 
}

p {
    color: #666;
}

img {
    width: 100%;
}


#content
{
    width: 80%;
    margin:auto;
    
}

#topper
{
    margin: 0px;
    padding: 0px;
}

.pquote {
    float: right;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}

    .pquote2 {
    float: right;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote2 p:first-letter {
    font-size: 39px;
    font-weight: bold;
}

 .pquote3 {
    float: left;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}
