@media {
    img {
        width: 100%;
        padding: 40px;
        border-radius: 50%;
    }

    h1 {
        padding: 40px;
        font-size: 30px;
        font-family: "Lily Script One", serif;
        color: #487ead;
        background-color: floralwhite;
        text-align: center
    }
}

button {
    border-color: #487ead;
    border-width: medium;
    background-color: aliceblue;
}
@media (min-width: 576px) {
    h1 {
        font-size: 70px;
    }
}

body {
    background-color: rgba(222, 135, 135, 0.25);
}

h2 {
    font-family: "Lily Script One", serif;
    font-weight: 400;
    font-style: normal;
    color: #487ead;
    background-color: aliceblue;
}

p {
    font-family: "Playfair Display";
}

ul {
    font-family: "Playfair Display";
}

div {
    font-family: "Playfair Display";
}

.lily-script one-regular {
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-<paragraph-fonts > {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
}
